.root {
  box-shadow: var(--shadow-card);
  background: var(--light-primary);
  border: 6px solid var(--orange);
  border-radius: 20px;
  margin-bottom: 40px;
}
.body {
  position: relative;
}
.image {
  width: 100%;
  height: auto;
  border-radius: 16px;
}
.link {
  position: absolute;
  bottom: 14%;
  padding: 3px;
  background: var(--light-primary);
  box-shadow: var(--shadow-card);
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  span {
    cursor: pointer;
    color: var(--primary-black);
    position: relative;
    padding: 5px;
    display: block;
    height: 100%;
    border-radius: 16px;
    background: var(--light-primary);
    font-size: 24px;
  }
  &:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  &:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  &::before {
    content: '';
    top: -125%;
    left: -6%;
    width: 112%;
    height: 347%;
    position: absolute;
    background: conic-gradient(
      var(--primary-black) 0%,
      var(--light-primary) 8%,
      var(--light-primary) 25%,
      var(--primary-black) 45%,
      var(--light-primary) 60%,
      var(--light-primary) 70%,
      var(--primary-black) 100%
    );
    animation: keyframe-btn 3s linear infinite;
    animation-play-state: running;
  }
  @media (max-width: 479.98px) {
    span {
      font-size: 16px;
    }
  }
}
.layout {
  left: 3.5%;
}
.code {
  right: 3.5%;
}
.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin: 10px auto;
}
.text {
  font-size: 20px;
  line-height: 1.5;
  margin: 0px 40px 10px;
  span {
    white-space: nowrap;
    font-weight: 700;
  }

  @media (max-width: 767.98px) {
    font-size: 18px;
  }
  @media (max-width: 479.98px) {
    font-size: 16px;
  }
}
@keyframes keyframe-btn {
  to {
    transform: rotate(360deg);
  }
}
